h1 {
   color: #d22e3a;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.mainTable {
    border: 1px solid;
    border-color: #330033;
    width: 100%;
    height: 100%;
}

.mainTableTd {
    border: 1px solid;
    border-color: #ff0000;
    padding: 10px;
}

.headerTableTd {
    border: 1px solid;
    border-color: #0000ff;
}

.contentTableTd {
    border: 1px solid;
    border-color: #00ff00;
    padding: 10px;
}